.auth_intro_container{
  width: 100%;
  height:100%;
  background-image: url('./img/people.jpg');
  background-size: 100% 100%;
  background-repeat:no-repeat;
}
.auth_intro_container>div{
  width:100%;
  height:100%;
  background-color: rgba(96, 128, 234, 0.7)
}
.auth_intro_header{
  text-align: center;
  font-size: 50px;
  margin:0;
  line-height: 600px;
  color:rgb(255, 255, 255);
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  animation-duration: 3s;
}
.login_toggle{
  text-decoration : underline;
}
.login_toggle:hover{
  color:rgb(38, 127, 228)
}
.nav-li{
  width:100%;
  height:60px;
  line-height: 60px;
  /* border:1px solid black; */
  border-radius: 10px;
  display: flex;
  justify-content:space-between;
}
.nav-li:hover{
  background-color: rgb(213, 211, 211);
  transition: 1s all;
}
.nav-link{
  color:black;
  text-decoration: none;
}

.nav-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  /* width:70%; */
  /* margin:0 auto; */
  border:1px solid black;
}
@media only screen and (max-width:800px){
  /* .container{
    width:100%;
  } */
  .auth_intro_container{
    display: none;
  }
  article{
      display:none;
  }
  .nav-icon{
    font-size: 2.5rem;
  }
  .nav-span{
    display: none;
  }
  .nav-link>span{
    display:none;
  }
  .nav-li{
    justify-content:center
  }
  .nav-fa{
    margin:0 auto;
  }
}

/* #root{
  display: flex;
} */